.App {
  text-align: center;
}

.App-logo {
 height: 80px ;
}

.navbar-brand > img{
  height: 80px ;
}


.nav-tabs > li > a {/*
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
*/
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  }

.carousel-caption{
  font-family: 'palatino linotype' ;
  color:lightpink ;
}


div.images > img{
  border-radius: 15px;
}

h2.title h3.title{
  font-family: 'palatino linotype' ;
}

.split .lead{
  font-size: 16px;
}

nav.navbar.navbar-expand-md{
  height: 80px ;
  margin-bottom: 1px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
